.Show-all-the-task {
  min-height: 100dvh;
  padding-inline: 1rem;
  padding-bottom: 2rem;

  & header {
  display: grid;
 
  justify-content: center;
  align-items: center;
  
  height: max-content;

   & div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & img {
        width: 3rem;
    }
    
   }

     & div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
   }


    & h1 {
        
    }
      & img {
      
    }
  }
}


.Show-all-the-task.active {
    height: max-content;
}
