* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}
button{
  font-size: 16px;
}

li {
  list-style: none;
}
.menu-content {
display: grid;
gap: 1rem;
}

nav {
  width: 20rem;
  height: 100%;
  background-color: var(--gray-color);
  display: grid;
  align-items: center;
  gap: 1rem;
  position: absolute;
  padding: 1rem;
  transform: translateX(-40rem);
  max-height: 0;      /* fechado inicialmente */
  opacity: 0;
  overflow: hidden;   /* esconde conteúdo extra */
  transition: all 0.4s ease; 
  border-radius: 0 0 1rem 0;
  & a {
   position: relative;
   top: 10rem;
   text-decoration: none;
   font-family: var(  --font-crimson);
   color: white;
  
  
}
}

.menu-principal {
  z-index: 2;
}

.all-the-liste {

 gap: .7rem;
 max-height: 700px;
 overflow-y: auto;
}



nav.active {
  max-height: 500px; /* altura suficiente para o conteúdo */
  opacity: 1;
  transform: translateX(0);

}


.Hero {
  height: 100dvh;
}

.Hero.active {

}

.Show-all-the-task {
 display: none;
  
}
.Show-all-the-task.active {
  display: grid;
}



p {
   font-family: var(  --font-crimson);
}

input, textarea {
    width: 100%;
}

main {
    padding: 2rem  1.5rem;
}

h1 {
  font-family: var( --font-bebas);
  color: white;
  text-align: center;
}

input, textarea, select {
  font-size: 16px; /* mínimo para evitar zoom no iOS */
}

.Hero {
  padding-inline: 1rem;
}



.open-side {

}


.height-of-the-all-the-liste {
  max-height: 490px !important;
}

.Show-all-the-task .task-liste {
  display: grid;
}

.Hero {
  display: block;
}

.Show-all-the-task {
  display: none;
}

.Hero.active {
  display: none;
}

.Show-all-the-task.active {
  display: grid;
}

