/* ---------------------- */
/* RESET GERAL            */
/* ---------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  height: 100%;
}

button {
  font-size: 16px; /* Tamanho mínimo para acessibilidade */
}

li {
  list-style: none;
}

input,
textarea,
select {
  width: 100%;
  font-size: 16px; /* Evita zoom no iOS */
}

p {
  font-family: var(--font-crimson);
}

h1 {
  font-family: var(--font-bebas);
  color: white;
  text-align: center;
}

/* ---------------------- */
/* MENU LATERAL (SIDEBAR) */
/* ---------------------- */
nav {
  width: 15rem;
  height: 100%;
  background-color: var(--gray-color);
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  padding: 1rem;

  /* Estado inicial (fechado) */
  transform: translateX(-40rem);
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transition: all 0.4s ease;
  border-radius: 0 0 5rem 0;
}

nav a {
  position: relative;
  top: 10rem;
  text-decoration: none;
  font-family: var(--font-crimson);
  color: white;
}

/* Estado ativo (menu aberto) */
nav.active {
  max-height: 500px; /* Altura suficiente p/ conteúdo */
  opacity: 1;
  transform: translateX(0);

}

/* Controle de camadas */
.menu-principal {
  z-index: 13;
}

.menu-sidebar {
  z-index: 12;
}

/* ---------------------- */
/* CONTEÚDO PRINCIPAL     */
/* ---------------------- */
main {
  padding: 2rem 1.5rem;
}

.Hero {
  display: none;
  height: 100%;
  padding-inline: 1rem;
}

.Hero.active {
  display: grid;
}

/* ---------------------- */
/* LISTAGEM DE TAREFAS    */
/* ---------------------- */


/* ---------------------- */
/* OUTROS ELEMENTOS       */
/* ---------------------- */
.menu-content {
  display: grid;
  gap: 1rem;
}


section {
  padding-inline: 2rem;
}
