* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

p {
   font-family: var(  --font-crimson);
}

input, textarea {
    width: 100%;
}

main {
    padding: 2rem  1.5rem;
}

h1 {
  font-family: var( --font-bebas);
  color: white;
  text-align: center;
}

input, textarea, select {
  font-size: 16px; /* mínimo para evitar zoom no iOS */
}