
/* ---------------------- */
/* MENU PRINCIPAL         */
/* ---------------------- */
.menu-principal {
  position: absolute;
}


/* ---------------------- */
/* MENU DE ADICIONAR TASK */
/* ---------------------- */
.menu-add-task {
 display: flex;
 flex-direction: column;
  margin: 0 auto;
  text-align: center;
  gap: 1rem;
  grid-template-rows: max-content;
}


/* Linha de inputs */
.menu-add-task  {


  & div:nth-child(1) {
      display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  gap: 1rem;
  }
  
}




/* Inputs */
.menu-add-task input {
  

  color: #ffffff;
  border: 2px solid #ffffff30;
  background-color: var(--low-gray);
  border-radius: 1rem;
}




.menu-add-task input:focus {
  border: 2px solid var(--border-color);
  outline: none;
}

/* ---------------------- */
/* MENU LATERAL (SIDEBAR) */
/* ---------------------- */
nav {
  width: 15rem;
  height: 100%;
  background-color: var(--gray-color);
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  padding: 1rem;

  /* Estado inicial (fechado) */
  transform: translateY();
  max-height: 0;
  opacity: 0;
  overflow: hidden;

  transition: all 0.4s ease;
  border-radius: 0 0 5rem 5rem;
}

nav a {
  position: relative;
  top: 10rem;
  text-decoration: none;
  font-family: var(--font-crimson);
  color: white;
}

/* Estado ativo (menu aberto) */
nav.active {
  max-height: 500px; /* Altura suficiente p/ conteúdo */
  opacity: 1;
  transform: translateY(0);

}

/* Controle de camadas */
.menu-principal {
  z-index: 13;
}

.menu-sidebar {
  z-index: 12;
}


