:root {
    --status-yellow:#ff6000;
    --status-green:#498143;
    --status-red:#ff000c;


     --status-yellow-dark:#702b00;
    --status-green-dark:#183d14;
    --status-red-dark:#511518;



      --status-yellow-dark-bottom:#c94e02;
    --status-green-dark-bottom:#34722d;
    --status-red-dark-bottom:#b40009;



    --gray-color:#292929;
    --background-color:#ffffff;

      --background-gradiente: linear-gradient(180deg, #292929 0%, rgba(10, 10, 10, 1) 100%);
       --background-gradiente-js: linear-gradient(180deg, #121212 0%, rgba(10, 10, 10, 1) 100%);


       --bg: #ffffff;
  --accent: #6c63ff;
  --muted: #8b8fa6;
  --border: #e6e8f2;
  --radius: 12px;
      





        /* Serif fonts */
  --font-merriweather: "Merriweather", serif;
  --font-playfair: "Playfair Display", serif;
  --font-crimson: "Crimson Pro", serif;
  --font-bitter: "Bitter", serif;

  /* Sans-serif fonts */
  --font-inter: "Inter", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-bebas: "Bebas Neue", sans-serif;






}

i {
  align-self: center;
  width: 2rem;

  & img {
    width: 100%;
  }
}


.status-green {
  background-color: var(--status-green);
}

.status-red {
  background-color: var(--status-red);
}

.status-yellow {
  background-color: var(--status-yellow);
}



.status-green-dark {
  background-color: var(--status-green-dark);
}

.status-red-dark {
  background-color: var(--status-red-dark);
}

.status-yellow-dark {
  background-color: var(--status-yellow-dark);
}


.status-green-dark-bottom {
  background-color: var(--status-green-dark-bottom);
}

.status-red-dark-bottom {
  background-color: var(--status-red-dark-bottom);
}

.status-yellow-dark-bottom {
 
  background-color: var(--status-yellow-dark-bottom);
}






.open-description {
  background: var(--background-gradiente-js);
}

body {
  background: var(--background-gradiente-js);
}



/* Estiliza o input date */
input[type="date"] {
  position: relative;
  background: url("../assets/icon/017-calendar.png") no-repeat right 10px center;
  background-size: 20px; /* tamanho do ícone */
  padding-right: 40px;   /* espaço para o texto não colidir */
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

/* Mantém o botão do calendário ativo, mas invisível */
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  opacity: 0;      /* invisível, mas clicável */
  cursor: pointer; /* mantém o cursor de clique */
}



